<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, Unity.Configuration" />
	  
  <section name="logging" type="Enivate.ResponseHub.Logging.Configuration.LoggingConfigurationSection, ResponseHub.Logging" allowLocation="true" allowDefinition="Everywhere" /></configSections>

  

	<unity configSource="Unity.config" />

	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
	</startup>

  <connectionStrings>
    <add name="LiteDB" connectionString="Filename=responsys.db" />
  </connectionStrings>

	<appSettings>

    <!-- No trailing slash -->
    <add key="ResponseHubService.Endpoint" value="https://responsehub.com.au/api" />

    <add key="ResponseHubService.ApiKey" value="192122ca1c5e46e64f2fa6a9146224bef5148e9f2994a30f5975d1b398f9b327" />
    
    <!-- Unit ID, used to determine jobs -->
    <add key="UnitId" value="8ADF11E8-5874-4465-9070-6870B51A2563" />
    
		<!-- Interval, in milliseconds, that the message timer will be run with. (Default: 10 seconds) -->
		<add key="ServiceTimerInterval" value="10000" />

		<add key="StaticMapImagesPath" value="./Cache/StaticMapImages" />
		<add key="JobReportPath" value="./Cache/JobReports" />
	</appSettings>
	
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="DotSpatial.Topology" publicKeyToken="a66b5e9434ca3671" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-0.11.9.6" newVersion="0.11.9.6" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="DotSpatial.Serialization" publicKeyToken="441f200f827611e7" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-1.9.0.0" newVersion="1.9.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="DotSpatial.Projections" publicKeyToken="272632bddd08a38b" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-0.11.9.6" newVersion="0.11.9.6" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="DotSpatial.Mono" publicKeyToken="425ba4de41127026" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-1.5.0.0" newVersion="1.5.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Unity.Abstractions" publicKeyToken="6d32ff45e0ccc69f" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-2.0.0.0" newVersion="2.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Unity.Configuration" publicKeyToken="6d32ff45e0ccc69f" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="DnsClient" publicKeyToken="4574bb5573c51424" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-1.2.0.0" newVersion="1.2.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
<logging logDirectory=".\logs" logLevel="INFO" /></configuration>
