<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="CommonServiceLocator" version="2.0.4" targetFramework="net472" />
  <package id="DnsClient" version="1.2.0" targetFramework="net472" />
  <package id="DotSpatial.Data" version="1.9" targetFramework="net472" />
  <package id="DotSpatial.Mono" version="1.9" targetFramework="net472" />
  <package id="DotSpatial.Projections" version="1.9" targetFramework="net472" />
  <package id="DotSpatial.Serialization" version="1.9" targetFramework="net472" />
  <package id="DotSpatial.Topology" version="1.9" targetFramework="net472" />
  <package id="HtmlAgilityPack" version="1.8.11" targetFramework="net472" />
  <package id="Microsoft.AspNet.Identity.Core" version="2.2.2" targetFramework="net472" />
  <package id="MongoDB.Bson" version="2.7.2" targetFramework="net472" />
  <package id="MongoDB.Driver" version="2.7.2" targetFramework="net472" />
  <package id="MongoDB.Driver.Core" version="2.7.2" targetFramework="net472" />
  <package id="MongoDB.Driver.GridFS" version="2.7.2" targetFramework="net472" />
  <package id="Newtonsoft.Json" version="12.0.1" targetFramework="net472" />
  <package id="ResponseHub.ApplicationServices" version="3.9.1" targetFramework="net472" />
  <package id="ResponseHub.Caching" version="3.9.1" targetFramework="net472" />
  <package id="ResponseHub.Common" version="3.9.1" targetFramework="net472" />
  <package id="ResponseHub.DataAccess" version="3.9.1" targetFramework="net472" />
  <package id="ResponseHub.Logging" version="3.9.1" targetFramework="net472" />
  <package id="ResponseHub.Mail" version="3.9.1" targetFramework="net472" />
  <package id="ResponseHub.Model" version="3.9.1" targetFramework="net472" />
  <package id="SharpZipLib" version="1.0.0" targetFramework="net472" />
  <package id="System.Buffers" version="4.5.0" targetFramework="net472" />
  <package id="System.Configuration.ConfigurationManager" version="4.5.0" targetFramework="net472" />
  <package id="System.Reflection.Emit" version="4.3.0" targetFramework="net472" />
  <package id="System.Runtime.InteropServices.RuntimeInformation" version="4.3.0" targetFramework="net472" />
  <package id="System.Security.AccessControl" version="4.5.0" targetFramework="net472" />
  <package id="System.Security.Permissions" version="4.5.0" targetFramework="net472" />
  <package id="System.Security.Principal.Windows" version="4.5.1" targetFramework="net472" />
  <package id="Unity" version="5.8.13" targetFramework="net472" />
  <package id="Unity.Abstractions" version="3.3.1" targetFramework="net472" />
  <package id="Unity.Configuration" version="5.2.5" targetFramework="net472" />
  <package id="WpfAnimatedGif" version="1.4.17" targetFramework="net46" />
</packages>