<?xml version="1.0"?>
<unity xmlns="http://schemas.microsoft.com/practices/2010/unity">
	<containers>
		<container>

			<!-- Logging -->
      <register type="Enivate.ResponseHub.Logging.ILogger, ResponseHub.Logging" mapTo="Enivate.ResponseHub.Logging.FileLogger, ResponseHub.Logging" />

			<!-- Repository mappings -->
			<register type="Enivate.ResponseHub.DataAccess.Interface.IRepository[], ResponseHub.DataAccess" mapTo="Enivate.ResponseHub.DataAccess.MongoRepository[], ResponseHub.DataAccess">
				<constructor />
			</register>
			<register type="Enivate.ResponseHub.DataAccess.Interface.IDecoderStatusRepository, ResponseHub.DataAccess" mapTo="Enivate.ResponseHub.DataAccess.MongoDB.DecoderStatusRepository, ResponseHub.DataAccess">
				<constructor />
			</register>
      <register type="Enivate.ResponseHub.DataAccess.Interface.IMapIndexRepository, ResponseHub.DataAccess" mapTo="Enivate.ResponseHub.DataAccess.MongoDB.MapIndexRepository, ResponseHub.DataAccess">
        <constructor>
          <param name="log" type="Enivate.ResponseHub.Logging.ILogger, ResponseHub.Logging" />
        </constructor>
      </register>
      <register type="Enivate.ResponseHub.DataAccess.Interface.IUnitRepository, ResponseHub.DataAccess" mapTo="Enivate.ResponseHub.DataAccess.MongoDB.UnitRepository, ResponseHub.DataAccess" />
			<register type="Enivate.ResponseHub.DataAccess.Interface.IAddressRepository, ResponseHub.DataAccess" mapTo="Enivate.ResponseHub.DataAccess.MongoDB.AddressRepository, ResponseHub.DataAccess" />
			<register type="Enivate.ResponseHub.DataAccess.Interface.IJobMessageRepository, ResponseHub.DataAccess" mapTo="Enivate.ResponseHub.DataAccess.MongoDB.JobMessageRepository, ResponseHub.DataAccess" />
      <register type="Enivate.ResponseHub.DataAccess.Interface.IMessagePrintRecordRepository, ResponseHub.DataAccess" mapTo="Enivate.ResponseHub.DataAccess.MongoDB.MessagePrintRecordRepository, ResponseHub.DataAccess" />
      <register type="Enivate.ResponseHub.DataAccess.Interface.ICapcodeRepository, ResponseHub.DataAccess" mapTo="Enivate.ResponseHub.DataAccess.MongoDB.CapcodeRepository, ResponseHub.DataAccess" />
      <register type="Enivate.ResponseHub.DataAccess.Interface.IUserRepository, ResponseHub.DataAccess" mapTo="Enivate.ResponseHub.DataAccess.MongoDB.UserRepository, ResponseHub.DataAccess" />
      <register type="Enivate.ResponseHub.DataAccess.Interface.IRegionRepository, ResponseHub.DataAccess" mapTo="Enivate.ResponseHub.DataAccess.MongoDB.RegionRepository, ResponseHub.DataAccess" />
      <register type="Enivate.ResponseHub.DataAccess.Interface.ISignInEntryRepository, ResponseHub.DataAccess" mapTo="Enivate.ResponseHub.DataAccess.MongoDB.SignInEntryRepository, ResponseHub.DataAccess" />
      <register type="Enivate.ResponseHub.DataAccess.Interface.IAttachmentRepository, ResponseHub.DataAccess" mapTo="Enivate.ResponseHub.DataAccess.MongoDB.AttachmentRepository, ResponseHub.DataAccess" />

			<!-- Application service mappings -->
      <register type="Enivate.ResponseHub.Model.Units.Interface.IUnitService, ResponseHub.Model" mapTo="Enivate.ResponseHub.ApplicationServices.UnitService, ResponseHub.ApplicationServices" />
      <register type="Enivate.ResponseHub.Model.Units.Interface.ICapcodeService, ResponseHub.Model" mapTo="Enivate.ResponseHub.ApplicationServices.CapcodeService, ResponseHub.ApplicationServices" />
      <register type="Enivate.ResponseHub.Model.Addresses.Interface.IAddressService, ResponseHub.Model" mapTo="Enivate.ResponseHub.ApplicationServices.AddressService, ResponseHub.ApplicationServices" />
      <register type="Enivate.ResponseHub.Model.Messages.Interface.IJobMessageService, ResponseHub.Model" mapTo="Enivate.ResponseHub.ApplicationServices.JobMessageService, ResponseHub.ApplicationServices" />

		</container>
	</containers>
</unity>
